CHANGED
FHEM/*.pm
FHEM/*.hex
FHEM/*.txt
FHEM/FhemUtils/
FHEM/lib/
backup/
contrib/
db.conf
docs/
fhem.git.cfg
fhem.pl
log/
unused/
www/color.js/
www/frontend/
www/gplot/
www/images/dark/
www/images/darktouchpad/
www/images/default/
www/images/smallscreen/
www/jscolor/
www/pgm2/
